h1 {
   color: #ff0000
}
p1 {
   color: #000000;
   background-color: #808080;
   font-size: 2em;
}
p2 {
   color: #013220;
   background-color: #00FF00;
   font-size: 2em;
}
p3 {
   color: #808080;
   background-color: #49423D;
   font-size: 2em;
}
p4 {
   color: #ffff00;
   background-color: #D6AE01;
   font-size: 2em;
}
p5 {
   color: #FF0000;
   background-color: #480607;
   font-size: 2em;
}